// ---------- MEDIA QUERIES ---------- //
@mixin mq($break) {
    $value: map-get($breakpoints, $break);

    @media (min-width: $value) {
        @content;
    }
}


// ---------- DESIGN ---------- //
@mixin round {
    border: none;
    border-radius: 50%;
}


// ---------- LAYOUT ---------- //
@mixin flex($d:column, $j:space-evenly, $a:center) {
    display: flex;
    flex-direction: $d;
    justify-content: $j;
    align-items: $a;

    @if ($j == 'space-evenly' or $j == 'space-between') {
        width: -webkit-fill-available;
    }
}
@mixin card-user-lo {
    &main {
        @include flex();

        @include mq(l) {
            align-items: flex-start;
            justify-content: space-between;
        }
    }
    &card {
        @include flex();
        text-align: center;
        border-bottom: $border-thin;

        @include mq(m) {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        } 
        
        @content;
    }
    &info- {
        &out {
            @include flex();

            @include mq(m) {
                flex-direction: row;
                justify-content: start;
            }

            img {
                @include round();
                width: 80px;

                @include mq(m) {
                    width: 60px;
                }
            }
        }
        &in {
            @include flex();

            @include mq(m) {
                align-items: start;
            }
        }
    }
}


