// ---------- BREAKPOINTS ---------- //
$breakpoints: (
    'm': 768px,
    'l': 1024px,
);


// ---------- TYPOGRAPHY ---------- //
$font-basic: 'Montserrat', sans-serif;
$font-m: 400;
$font-l: 500;


// ---------- TYPOGRAPHY ---------- //
$color-accent: #473c85;

$color-darkest: black;
$color-medium: lighten(black, 25);
$color-light: lighten(black, 75);
$color-lightest: darken(white, 5);


// ---------- SECTION MAP ---------- //
$sects: (
    'alr',
    'tro',
    'trd',
    'umo',
    'soc',
    'une',
    'act',
    'ume',
    'set',
);
