// ---------- BREAKPOINTS ---------- //
$breakpoints: (
    'm': 768px,
    'l': 1024px,
);


// ---------- TYPOGRAPHY ---------- //
$font-basic: 'Montserrat', sans-serif;
$font-m: 300;
$font-l: 500;


// ---------- COLORS ---------- //
$color-accent: #786eb4;

$color-darkest: black;
$color-medium: lighten(black, 50);
$color-light: darken(white, 15);
$color-lightest: white;


// ---------- SECTION MAP ---------- //
$sects: (
    'til',
    'alr',
    'tro',
    'trd',
    'umo',
    'soc',
    'une',
    'act',
    'ume',
    'set',
);


// ---------- BORDERS ---------- //
$border-thin: solid 2px red;
$border-thick: solid 4px red;