// // ---------- HEADER STYLES ---------- //
header {
    background-color: $color-accent;
    padding: 5% 3%;

    @include flex($d:row, $j:space-between); 

    @include mq(m) {
        padding: 2%;
    }

    h1 {
        color: $color-lightest;

        strong {
            color: $color-lightest;
        }
    }
}

.header- {
    &main {
        @include flex($d:row, $j:flex-end);

        @include mq(m) {
            width: 30%;
        }

        button {
            background-color: $color-accent;
            border: none;

            @include flex($d:row, $j:flex-end);

            svg {
                width: 20px;

                transition: width .5s;
                
                &:hover {
                    animation: ring 3s ease-out forwards infinite;
                    width: 30px;
                }
    
                @include mq(m) {
                    width: 25px;

                    &:hover {
                        width: 35px;
                    }
                }
            }
            p {
                align-self: self-start;
                color: $color-alert;
                font-size: xx-small;
                display: none;
            }
        }
    }
    &notes {
        @include flex();

        display: none;
        position: absolute;
        right: 25px;
        width: 280px;
        background-color: $color-lightest;
        z-index: 2;
        border: $border-thick;

        div {
            @include flex($d: row, $j:space-between);

            border-bottom: $border-thin;

            button {
                border: none;
                color: $color-accent;
                background-color: $color-lightest;
                font-weight: $font-l;
            }
        }
    }
    &notes > :last-child {
        border-bottom: none;
    }

    &usr {
        border-left: $border-thin;

        @include flex($d:row, $j:flex-end);

        img {
            width: 45px;
            padding: 0% 3%;
        
            @include round;

            @include mq(m) {
                width: 60px;
                padding: 0% 3%;
            }
        }

        p {
            color: $color-lightest;
            font-size: small;
        }
    }
}