// // ---------- HEADER STYLES ---------- //
header {
    background-color: $color-accent;
    padding: 2%;

    @include flex($d:row, $j:space-between); 

    h1 {
        color: $color-lightest;

        strong {
            color: $color-lightest;
        }
    }
}

.header- {
    &main {
        @include flex($d:row, $j:flex-end);

        @include mq(m) {
            width: 30%;
        }

        img {
            width: 25px;
        }
    }

    &usr {
        border-left: $border-thin;
        margin: auto;

        @include flex($d:row, $j:flex-end);

        img {
            width: 50px;
        
            @include round;
        }

        p {
            color: $color-lightest;
            font-size: small;
        }
    }
}