// // ---------- NAV STYLES ---------- //
nav {
    padding: 2% 5%;
    @include flex($d:row);

    @include mq(m) {
        @include flex($j:flex-start);
    }

    a {
        svg {
            width: 40px;
        }

        @include mq(m) {
            margin: 20% 0%;
        }
    }
}