// // ---------- MAIN ---------- //
header {
    @include flex($d:row, $j:space-between); 

    div {
        @include flex($d:row);

        @include mq(m) {
            width: 30%;
        }
    }
}
nav {
    @include flex($d:row);

    @include mq(m) {
        @include flex($j:flex-start);
    }
}


// // ---------- SECTIONS ---------- //
#sect-alr{
    @include flex($d:row, $j:space-between);
}
.tro- {
    &main {
        @include flex($a:normal);

        @include mq(m) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &nav{
        @include flex($d:row);
        width: 50%;
    }
}
.soc- {
    &main {
        @include flex($j:flex-start, $a:normal);

        @include mq(m) {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    &card {
        @include flex($d:row, $j:flex-start);
    }
    &stats {
        @include flex($a:flex-start);
    }
}
.une- {
    @include card-user-lo;
}
.act- {
    @include card-user-lo {
        button {
            display: none;

            @include mq(m) {
                display: block;
            }
        }
    }
}
.ume- {
    &main {
        @include flex();
    }
}
.set- {
    &main {
        @include flex($a:normal);
    }
    &field {
        @include flex($d:row, $j:space-between);

        &-tog {
            @include mq(m) {
                width: 50%;
            }
        }
    }
}


// // ---------- ELEMENTS ---------- //
h3 {
    margin-right: auto;
}