// // ---------- FLEX STYLES ---------- //
.flx- {
    &row {
        @include flex($d:row);
    }
    &col {
        @include flex();
    }
}


header {
    @include flex($d:row, $j:space-between); 

    div {
        @include flex($d:row);
    }
}
nav {
    @include flex($d:row);

    @include mq(m) {
        @include flex($j:flex-start);
    }
}

#sect- {
    &alr {
        @include flex($d:row, $j:space-between);
    }
    &tro {
        @include flex($a:normal);

        div {
            @include flex();

            @include mq(m) {
                @include flex($d:row, $j:space-between);
            }
    
            div {
                @include flex($d:row);
                min-width: 50%;
            }
        }
    }
    &trd {
        @include flex();
    }
    &umo {
        @include flex();
    }
    &soc div {
        @include flex($j:flex-start, $a:normal);

        @include mq(m) {
            @include flex($d:row);
        }

        div {
            @include flex($d:row, $j:flex-start);

            div {
                @include flex($a:flex-start);
            }
        }
    }
    &une div {
        @include flex();

        div {
            @include flex();
            min-width: 85%;

            @include mq(m) {
                @include flex($d:row, $j:space-between);
            }

            div {
                @include flex();

                div {
                    @include flex();
                }
            }
        }
    }
    &act div {
        @include flex();

        div {
            @include flex();
    
            p {
                text-align: center;
            }
        }
    }
    &ume div {
        @include flex();
    }
    &set div {
        @include flex($a:normal);

        div {
            @include flex($d:row, $j:space-between);
        }
    }
}

h3 {
    margin-right: auto;
}