// ---------- MAIN GRID STYLES ---------- //
main {
    background-color: $color-lightest;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 30fr;
    grid-template-areas: 
        'nav'
        'dashboard';

    @include mq(m) {
        grid-template-areas: 
            'nav dashboard';
         grid-template-rows: 1fr;
        grid-template-columns: 1fr 10fr;
    }
}

nav {
    background-color: darken($color-accent, 25);

    grid-area: nav;
}


// ---------- DASHBOARD GRID STYLES ---------- //
#dashboard {
    grid-area: dashboard;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, minmax(min-content, max-content));
    grid-template-areas: 
        'til'
        'alr'
        'tro'
        'trd'
        'umo'
        'soc'
        'une'
        'act'
        'ume'
        'set';
    @include mq(m) {
        grid-template-areas: 
            'til til'
            'alr alr'
            'tro tro'
            'trd umo'
            'soc soc'
            'une une'
            'act act'
            'ume ume'
            'set set';
        grid-template-rows: repeat( 9, minmax(min-content, max-content) );
        grid-template-columns: repeat( 2, minmax(1fr, 1fr) );
    }
    @include mq(l) {
        grid-template-areas: 
            'til til'
            'alr alr'
            'tro tro'
            'trd umo'
            'soc soc'
            'une act'
            'ume set';
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@each $sect in $sects {
    #sect-#{$sect} {
      grid-area: #{$sect};
      border-top: $border-thin;
    }
}