// ---------- MAIN GRID STYLES ---------- //
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20fr;
    grid-template-areas: 
        'nav'
        'dashboard';
    @media (min-width: 768px) {
        grid-template-areas: 
            'nav dashboard';
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 10fr;
    }
}

nav {
    grid-area: nav;
}
#dashboard {
    grid-area: dashboard;
}


// ---------- DASHBOARD GRID STYLES ---------- //
#dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, minmax(min-content, max-content));
    grid-template-areas: 
        'dash-title'
        'alert'
        'traffic-over'
        'traffic-day'
        'user-mobile'
        'social-stats'
        'user-new'
        'activity'
        'user-message'
        'settings';
    @media (min-width: 768px) {
        grid-template-areas: 
            'dash-title .'
            'alert alert'
            'traffic-over traffic-over'
            'traffic-day user-mobile'
            'social-stats social-stats'
            'user-new user-new'
            'activity activity'
            'user-message user-message'
            'settings settings';
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1024px) {
        grid-template-areas: 
            'dash-title .'
            'alert alert'
            'traffic-over traffic-over'
            'traffic-day user-mobile'
            'social-stats social-stats'
            'user-new activity'
            'user-message settings';
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
#dash-title {
    grid-area: dash-title;
    max-width: 30%;
    @media (min-width: 768px) {
        max-width: 50%;
    }
}
#alerts {
    grid-area: alert;
}
#traffic-overview {
    grid-area: traffic-over;
}
#traffic-daily {
    grid-area: traffic-day;
}
#user-mobile {
    grid-area: user-mobile;
}
#social-stats {
    grid-area: social-stats;
}
#user-new {
    grid-area: user-new;
}
#activity {
    grid-area: activity;
}
#user-message {
    grid-area: user-message;
}
#settings {
    grid-area: settings;
}
