// ---------- IMAGE STYLES ---------- //
img {
    height: 50px;
    width: 50px;
}
.temp-img {
    height: 250px;
    width: 250px;
    @extend %centered;
}


// ---------- MARGIN EASE ---------- //
* {
    margin: 0 !important;
}
.overflow {
    font-size: 50%;
}


// ---------- GRID VISUAL EASE ---------- //
// header {
//     background-color: red;
// }
// nav {
//     background-color: blue;
// }
// #dashboard {
//     background-color: pink;

//     section, h2 {
//         box-shadow:0px 0px 0px 3px green inset;
//     }
// }
