// ---------- IMAGE STYLES ---------- //
img {
    height: 100px;
    width: 100px;
}


// ---------- MARGIN EASE ---------- //
* {
    margin: 0 !important;
}


// ---------- GRID VISUAL EASE ---------- //
header {
    background-color: red;
}
nav {
    background-color: blue;
}
#dashboard {
    background-color: pink;
}