// ---------- RECENT ACTIVITIES SECT ---------- //
#sect-act {
    @include mq(l) {
        border-left: $border-thin;
    }
}
.act- {
    @include card-user-lo {
        button {
            display: none;

            @include mq(m) {
                display: block;
            }

            background-color: $color-lightest;
            border: none;
            color: $color-accent;
            font-weight: $font-m;
            font-size: xx-large;

            &:focus {
                @include focus();
            }
        }
    }
}
.act-card:last-of-type {
    border-bottom: none;
}