// ---------- RECENT ACTIVITIES SECT ---------- //
.act- {
    @include card-user-lo {
        button {
            display: none;

            @include mq(m) {
                display: block;
            }
        }
    }
}
.act-card:last-of-type {
    border-bottom: none;
}