// ---------- ALERT SECT ---------- //
#sect-alr{
    background-color: $color-accent;
    border-radius: 5px;
    padding: 2%;
    margin: 5% 3%;
    border: none;

    p {
        color: $color-lightest;

        strong {
            color: $color-lightest;
        }
    }

    @include flex($d:row, $j:space-between);

    button {
        background-color: $color-accent;
        border: none;
    }
    button:focus {
        @include focus();
    }
}