// ---------- SETTINGS STYLES ---------- //
.set- {
    &main {
        @include flex($a:normal);

        width: 100vw;

        @include mq(m) {
            width: 100%;
        }
    }
    &field {
        @include flex($d:row, $j:space-between);
        
        &-save {
            background-color: $color-accent;
            width: 40%;
            border: $border-thin;
            border-radius: 5px;
        }

        &-tog {
            button {
                background-color: $color-accent;
                border: $border-thick;
                border-radius: 50px;
            }


            @include mq(m) {
                width: 50%;
            }
        }

        &-cancel {
            background-color: $color-medium;
            width: 40%;
            border: $border-thin;
            border-radius: 5px;
        }
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $color-light;
    color: $color-medium;
    border: $border-thin;
    border-radius: 5px;
    height: 40px;
}
select::-ms-expand {
    display: none;
}

.select-wrap {
    position: relative;
    width: 100%;
}
.select-wrap::after {
    content: "▼";
    color: $color-accent;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    right: 3%;
    top: 35%;
}