// ---------- SETTINGS STYLES ---------- //
.set- {
    &main {
        @include flex($a:normal);

        width: 100vw;

        @include mq(m) {
            width: 100%;
        }
    }
    &field {
        @include flex($d:row, $j:space-between);
        
        &-save {
            background-color: $color-accent;
            width: 40%;
            border: $border-thin;
            border-radius: 5px;
        }

        &-tog {

            &-cot {

                input {
                    -webkit-appearance: none;
                    position: relative;
                    width: 100px;
                    height: 30px;

                    background: none;
                    border: $border-thick;
                    border-radius: 50px;

                    transition: background-color .3s;
                    outline: none;
                }
                input::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 30%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    height: 1.25rem;
                    width: 1.25rem;
                    background: none;
                    border: $border-thin;
                    transition: left .3s;
                }
                input:checked::after {
                    left: 70%;
                }

                label {
                    position: relative;
                    display: block;
                    height: inherit;
                    border-radius: inherit;
                    background-color: $color-accent;
                    top: -26px;
                    z-index: 5;
                }
                label:before, label::after {
                    position: absolute;
                    color: black;
                }
                label:before {
                    content: attr(data-off);
                    right: 11px;
                }
                label::after {
                    content: attr(data-on);
                    left: 11px;
                    opacity: 0;
                }

                input:checked~label:before {
                    opacity: 0;
                 }
                 input:checked~label:after {
                    opacity: 1;
                 }

            }

            @include mq(m) {
                width: 50%;
            }
        }

        &-cancel {
            background-color: $color-medium;
            width: 40%;
            border: $border-thin;
            border-radius: 5px;
        }
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $color-light;
    color: $color-medium;
    border: $border-thin;
    border-radius: 5px;
    height: 40px;
}
select::-ms-expand {
    display: none;
}

.select-wrap {
    position: relative;
    width: 100%;
}
.select-wrap::after {
    content: "▼";
    color: $color-accent;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    right: 3%;
    top: 35%;
}