// ---------- SOCIAL STATS SECT ---------- //
.soc- {
    &main {
        @include flex($j:flex-start, $a:normal);

        @include mq(m) {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    &card {
        @include flex($d:row, $j:flex-start);

        border: $border-thin;
        background-color: $color-light;
        border-radius: 5px;
    }
    &stats {
        @include flex($a:flex-start);

        margin-left: 10%;
    }
}