// ---------- SOCIAL STATS SECT ---------- //
.soc- {
    &main {
        @include flex($j:flex-start, $a:normal);

        @include mq(m) {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    &card {
        @include flex($d:row, $j:flex-start);

        border: $border-thin;
        background-color: $color-light;
        border-radius: 5px;
        padding: 3%;
        margin: 4% 8%;

        svg {
            width: 70px;
            background-color: $color-accent;
            border-radius: 50px;
            padding: 5%;
        }

        @include mq(m) {
            width: 30%;
            padding: 2%;
            margin: 3% 0%;
        }
    }
    &stats {
        @include flex($a:flex-start);

        margin-left: 10%;
    }
}