// ---------- TRAFFIC DAILY SECT ---------- //
#sect-trd {
    display: inherit;
}
.trd-chart {
    position: relative;
    width: 300px;
    height: 150px;
    margin: auto;
    align-self: baseline;

    @include mq(m) {
        width: 300px;
        height: 200px;
        margin-bottom: 12%;
    }

    @include mq(l) {
        width: 350px;
        height: 275px;
    }
}