// ---------- TRAFFIC OVERVIEW SECT ---------- //
#sect-tro {
    border-top: none;
}

.tro- {
    &main {
        @include flex($a:normal);

        @include mq(m) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &nav{
        @include flex($d:row);

        @include mq(m) {
            width: 50%;
        }

        button {
            color: $color-darkest;
            background-color: $color-lightest;
            border: none;

            &:focus {
                @include focus();
            }
        }
    }
    &charts {
        position: relative;
        width: 300px;
        height: 150px;
        margin: auto;

        @include mq(m) {
            width: 650px;
            height: 325px;
        }

        @include mq(l) {
            width: 900px;
            height: 400px;
        }
    }
}

