// ---------- TRAFFIC OVERVIEW SECT ---------- //
#sect-tro {
    border-top: none;
}

.tro- {
    &main {
        @include flex($a:normal);

        @include mq(m) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &nav{
        @include flex($d:row);

        @include mq(m) {
            width: 50%;
        }

        button {
            color: $color-darkest;
            background-color: $color-lightest;
            border: none;
        }
    }
    &charts {
        position: relative;
        height: 100%;
        width: 100%;
    }
}

