// ---------- MESSAGE USER STYLES ---------- //
.ume- {
    &main {
        margin: 0% 5%;
        @include flex();
        width: 90%;

        input, textarea {
            width: 100%;
            border: $border-thin;
            box-sizing: border-box;
            background-color: $color-light;
            border-radius: 5px;
            padding: 2%;
        }
        textarea {
            margin: 5% 0%;
        }
        button {
            width: 100%;
            border: $border-thin;
            background-color: $color-accent;
            border-radius: 5px;
            margin-bottom: 5%;
            height: 40px;

            @include mq(m) {
                height: 50px;;
            }
        }

        h5 {
            // display: none;
            color: $color-warn;
            font-size: small;
            font-weight: $font-l;
            font-style: italic;
            margin: 0;
        }
    }
}
#search-results {
    display: none;
    text-align: left;
    position: relative;
    font-size: medium;
    width: 100%;

    @include mq(m) {
        font-size: medium;
    }

    h5 {
        color: $color-warn;
        font-size: large;
        font-weight: $font-l;
        margin: 0;
        margin-top: 3%;
    }

    button {
        background: none;
        color: $color-darkest;
        border: none;
        text-align: left;
        margin-bottom: 2%;
        height: fit-content;

        @include mq(m) {
            margin-bottom: 1%;
        }
    }
    & > button:first-of-type {
        margin-top: 3%;
    }
}