// ---------- MESSAGE USER STYLES ---------- //
.ume- {
    &main {
        @include flex();
        width: 100vw;

        @include mq(m) {
            width: 100%;
        }

        input, textarea {
            width: 100%;
            border: $border-thin;
            box-sizing: border-box;
            background-color: $color-light;
            border-radius: 5px;
        }
        button {
            width: 100%;
            border: $border-thin;
            background-color: $color-accent;
            border-radius: 5px;
        }

        h5 {
            display: none;
            color: $color-warn;
            font-size: small;
            font-weight: $font-l;
            font-style: italic;
            margin: 0;
        }
    }
}
#search-results {
    display: none;
    text-align: left;
    position: relative;
    font-size: medium;
    width: 100%;

    h5 {
        color: $color-warn;
        font-size: large;
        font-weight: $font-l;
        margin: 0;
    }

    button {
        background: none;
        color: $color-darkest;
        border: none;
        text-align: left;
    }
}