// // ---------- USER MOBILE SECTION ---------- //
#sect-umo {
    @include mq(m) {
        border-left: $border-thin;
    }
}
.umo-chart {
    position: relative;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: 6%;

    @include mq(m) {
        width: 250px;
        height: 250px;
    }

    @include mq(l) {
        width: 350px;
        height: 350px;
    }
}